<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-avatar slot="start">
        <div class="photo"></div>
      </ion-avatar>
      <ion-label>
        <div style="width: 100%; height: 40px" class="single-bar"></div>
      </ion-label>
    </ion-item>

    <div style="width: 100%; height: 80px" class="staggered-bars"></div>
  </ion-card-content>
</ion-card>
