.photo {
  width: 50px;
  height: 50px;
  background-color: #cecece;
  border-radius: 50%;
}

.single-bar {
  margin-top: 20px;
  background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    linear-gradient(#cecece 20px, transparent 0);

  background-repeat: repeat-y;
  background-size: 50px 80px, 70% 80px;
  background-position: 0 0, 20px 0;
  animation: singleShine 1s infinite;
}

.staggered-bars {
  margin-top: 20px;
  background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    linear-gradient(#cecece 20px, transparent 0),
    linear-gradient(#cecece 20px, transparent 0);

  background-repeat: repeat-y;
  background-size: 50px 80px, 40% 80px, 65% 80px;
  background-position: 0 0, 20px 0, 20px 40px;
  animation: staggerShine 1s infinite;
}

@keyframes singleShine {
  to {
    background-position: 100% 0, 20px 0;
  }
}

@keyframes staggerShine {
  to {
    background-position: 100% 0, 20px 0, 20px 40px;
  }
}
