<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Skeleton Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-skeleton-card></app-skeleton-card>
</ion-content>
